
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -2px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .karla{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
  }
  
 
  